*.log
.#*
*.out
*.aux
*.toc
*.nav
*.snm
*.bcf
*.dvi
*.blg
.DS_Store
.idea
/yolov5l6u.pt
/yolov9c.pt
/Box-Counting-*/
*.mp4
Only-axis-camera*
.pt
\YOLO_ROLLS\counting-rolls-1
/YOLO_ROLLS/counting-rolls-1
\YOLO_ROLLS\runs
/YOLO_ROLLS/runs